#rosto {
    max-width: 200px;
    border-radius: 90px;
    display: table;
    float: left;
}

#nome {
    font-size: 30px;
    padding: 99px;
    margin-left: 150px;
    }

h1, h2, h3 {
    color: red;
    font-size: 29px;
}

body {
    background-color: black;
}

p {
   color: rgb(243, 246, 251) ;
   font-style: italic;
}

.links {
    text-decoration: none;
    color: rgb(255, 73, 73);
}

.rodape2 {
    text-decoration: none;
    padding: 5px;
    margin: auto;
    display: block;
}

.rodape {
    background-color: rgba(0, 0, 0, 0.397);
    margin-right: 1500px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 10px;
}