#rosto {
    max-width: 200px;
    border-radius: 90px;
    display: table;
    float: left;
}

#nome {
    font-size: 30px;
    padding: 99px;
    margin-left: 150px;
}

#nome2 {
    font-size: 15px;
    color: white;
    padding: 200px;
    margin-left: 150px;
}

h1, h2, h3, h4 {
    color: red;
    font-size: 29px;
}

body {
    background-color: black;
}

p, li, cite {
   color: rgb(243, 246, 251) ;
   font-style: italic;
}

.links {
    text-decoration: none;
    color: rgb(255, 73, 73);
}

.links2 {
    text-decoration: none;
    color: rgb(255, 0, 0);
}


