/* CSSCurriculo.css */

body {
    background-color: rgb(0, 0, 0);
    color: red;
}

.body {
    margin: auto;
    width: 1500px;
    font-family: Arial, Helvetica, sans-serif;
}

.CUR {
    margin: auto;
    display: table;
    width: 1500px;
    font-family: Arial, Helvetica, sans-serif;
}

.ft {
    display: table;
    margin-top: 50px;
    border-style: double;
    border-color: red;
    width: 1500px
}

.foto {
    display: table-cell;
    float: left;
    border-right: double;
    border-color: red;
}

.nome {
    display: table-cell;
    float: left;
    margin-top: 125px;
    margin-left: 60px;
}
